/*
=======================
Fonts
=======================
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

/*
=======================
Variables
=======================
*/
:root {
    /* Primary color */
    --clr-primary: #F0C06C;

    /* Primary color gradient */
    --clr-primary-gradient-1: #694E1E;
    --clr-primary-gradient-2: #F0C16A;
    --clr-primary-gradient-3: #ECC377;
    --clr-primary-gradient-4: #856327;

    /* Gradient */
    --clr-primary-gradient: -webkit-linear-gradient(
            top right,
            var(--clr-primary-gradient-1),
            var(--clr-primary-gradient-2),
            var(--clr-primary-gradient-3),
            var(--clr-primary-gradient-4)
    );

    /* Dark shades of primary color */
    --clr-primary-1: #776647;
    --clr-primary-2: #3C301B;
    --clr-primary-3: #1B150C;
    --clr-primary-4: #191209;
    --clr-primary-5: #150F06;
    --clr-primary-6: #2f261a;
    --clr-primary-7: #080501;
    --clr-primary-8: #150F06;

    /* Light shades of primary color */
    --clr-primary-9: #F7E2BE;
    --clr-primary-10: #7c7975;
    --clr-primary-11: #CABFAA;

    --clr-inactive: #8B898A;
    --clr-active: #E7E7E7;

    /* Global constraints */
    --radius: 0.25rem;
    --transition: all 0.3s linear;
}

/*
=======================
Global Styles
=======================
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-primary-8);
    color: var(--clr-primary-9);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-active);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    /*line-height: 1.25;*/
    margin-bottom: 0.75rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 0.875rem; }

p {
    margin-bottom: 1.25rem;
    color: var(--clr-primary-10);
    font-size: 1rem;
    line-height: 1.9rem;
}

.circular-progress {
    position: relative;
    left: 50%;
}

.section {
    padding: 100px;
    position: relative;
}

.section:nth-child(even) {
    background-color: var(--clr-primary-3);
}

.decorated-title-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, .44);
    color: var(--clr-primary-6);
    position: relative;
    display: inline-block;
}

.decorated-title-1::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: rgba(255, 255, 255, .44);
    left: 0;
    bottom: -20px;
}

.section-watermark-logo {
    position: absolute;
    top: 2px;
    right: 1rem;
    z-index: -1;
}

/*Action form*/
.action-form-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.action-form-right-section,
.action-form-left-section {
    width: 50%;
}

.action-form-left-section {
    margin: 100px;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.action-form-left-section-content {
    max-width: 600px;
}

.action-form-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.action-form-subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2rem;
    color: var(--clr-primary-11);
    font-size: 1.1rem;
}

.action-form-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    margin-top: 60px;
    max-width: 700px;
}

.action-form-input {
    width: 100%;
    color: var(--clr-primary-11);
}

.decorated-title-2 {
    background-image: linear-gradient(
        to right,
        var(--clr-primary-gradient-1),
        var(--clr-primary-gradient-2),
        var(--clr-primary-gradient-2),
        var(--clr-primary-gradient-1)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    display: inline-block;
}

.action-form-container .action-form-left-section .action-form-back-btn {
    float: left;
    /*margin-top: 10rem;*/
}



/*
=======================
Nav bar
=======================
*/
.nav-wrapper {
    padding: 1rem;
    background-color: var(--clr-primary-8);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-wrapper ul {
    display: flex;
    gap: 3rem;
}

.nav-wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper a {
    background: var(--clr-primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-wrapper .logo-wrapper img {
    height: 2.5rem;
}

.nav-wrapper .logo-wrapper {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
=======================
Buttons
=======================
 */

.btn-primary {
    background-image: var(--clr-primary-gradient);
    padding: 2rem .9rem;
}

.btn-primary span {
    color: var(--clr-primary-3);
}

/*
=======================
Carousel
=======================
 */

.carousel-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
}

.carousel-nav-btn {
    background-color: var(--clr-primary-7);
    border: none;
    border-radius: 50%;
    opacity: .9;
}

.carousel-next-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.carousel-prev-btn {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%)
}

.carousel-indicator-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    gap: .5rem;
    display: flex;
}

.carousel-indicator {
    height: 50px;
    width: 50px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}

.carousel-indicator-count {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: relative;
    color: var(--clr-inactive);
}

.carousel-indicator-count::after {
    content: '';
    height: 5px;
    width: 40px;
    position: absolute;
    background-color: var(--clr-inactive);
    display: block;
    left: 0;
    bottom: -10px;
}

.carousel-indicator-count-active {
    color: var(--clr-active);
}

.carousel-indicator-count-active::after {
    background-color: var(--clr-active);
}

.carousel .carousel__slider {
    max-height: 90vh;
}


/*
=======================
Carousel
=======================
 */

.core-leaders-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 100px;
    gap: 50px;
}

.core-leader-image-container {
    padding: 3px;
    background-image: var(--clr-primary-gradient);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.core-leader-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.core-leader-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.core-leader-label {
    margin: 1.5rem 0;
    font-weight: 500;
    color: var(--clr-primary);
}

/*
=======================
Mission & vision
=======================
 */
.mission-vision-section {
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary-3);
}

.mission-vision-left-section {
    padding: 100px;
    width: 50%;
    max-width: 900px;
}

.mission-content-container {
    max-width: 700px;
}

.mission-vision-right-section {
    width: 30%;
}

.mission-vision-container {
    margin-top: 100px;
}

.mission-vision-right-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.mission-content-container {
    margin-top: 100px;
}

.read-more-btn {
    float: right;
}

/*
=======================
Media queries
=======================
 */


/*
=======================
Prospecting videos
=======================
 */

.section .prospecting-videos-container {
    margin-top: 100px;
}

.prospecting-videos-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .2s;
    border-radius: .8rem;
    overflow: hidden;
}

.prospecting-videos-item:hover {
    transform: scale(1.1);
}

.youtube-video-item {
    width: 100%;
}

/*
=======================
Footer
=======================
 */

.footer {
    background-color: var(--clr-primary-7);
    padding: 100px;
}

.footer-short-bio {
    margin-top: 40px;
}

.footer-top-section {
    display: flex;
    gap: 200px;
}

.footer-item {
    flex: 1;
}

.footer-divider {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-image: var(--clr-primary-gradient);
    margin: 50px 0;
}

.footer-social-icon {
    height: 20px;
}

.footer-bottom-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 2rem;
}

.footer-pages-link {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer-pages-link-item {
    margin: .7rem 0;
    color: var(--clr-inactive);
    font-weight: 500;
    transition: all ease-in-out .1s;
}

.footer-pages-link-item:hover {
    color: var(--clr-primary);
}

.footer-item h3 {
    color: var(--clr-active);
}


/*
=======================
Action forms
=======================
 */

.submit-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 40px;
}

.action-form-input-x2 {
    grid-column: 1/-1;
}

/*
=======================
Banner image
=======================
*/
.banner,
.banner-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    position: relative;
}

.banner-title-container {
    height: 20%;
    background-color: rgba(27, 21, 12, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title-container h3 {
    display: inline-block;
    margin: 0;
}

/*
=======================
Vision
=======================
*/
.vision-section {
    padding-top: 100px;
    background-color: var(--clr-primary-5);
}


/*
=======================
Dashboard
=======================
*/

.home-auth-left-section {
    padding: 50px;
    background-color: var(--clr-primary-4);
    /* width: 100%; */
}

.upcoming-meetings-list {
    background-color: var(--clr-primary-6);
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.dashboard-subheading {
    margin-bottom: 50px;
    color: var(--clr-primary-11);
}

.training-videos-content {
    margin-top: 100px;
}

.training-videos-container {
    margin-top: 100px;
    /*max-width: 800px;*/
    width: 100%;
}

.upcoming-meetings-section {
    position: relative;
    max-width: 1200px;
}

.icon-btn-container {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--clr-primary-7);
}

.icon-btn-container-right,
.icon-btn-container-left {
    position: absolute;
    border-radius: 50%;
    background-color: var(--clr-primary-7);
    top: 50%;
    transform: translateY(-50%);
}

.icon-btn-container-left {
    left: -1.5rem;
}
.icon-btn-container-right {
    right: -1.5rem;
}

.training-videos-container-outer {
    position: relative;
}

.home-auth-container-flex {
    display: flex;
    width: 100%;
}

.home-auth-left-section {
    width: 70%;
}

.home-auth-right-section {
    flex-grow: 1;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.carousel-training-videos-nav-btn.carousel-prev-btn {
    left: -1.5rem;
}

.carousel-training-videos-nav-btn.carousel-next-btn {
    right: -1.5rem;
}

.training-video-yt-container {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100%;
}

.auth-profile-image-container {
    padding-top: 5rem;
}

.landing-page-url-input {
     width: 100%;
}

.landing-page-url-container {
    padding: 0 3rem;
    margin-top: 2rem;
}

.dashboard-center-text-right {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.background-logo-dasboard {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) rotate(-60deg);
    object-fit: cover;
    z-index: -1;
}

.create-new-meeting-container-right-bar {
    position: relative;
    margin-top: 100px;
}

.create-new-meeting-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.create-new-meeting-btn {
    width: 100%;
}

.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-profile-image-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 3rem 0;
}

.edit-profile-fields-container {
    width: 40vw;
}

.edit-profile-fields-container .edit-profile-submit-btn {
    float: right;
    margin-bottom: 2rem;
}

.edit-profile-change-password-container {
    margin: 4rem 0;
}

.edit-profile-container h3 {
    font-size: 1.4rem;
    margin-top: 3rem;
}

/*
=======================
Lead form
=======================
*/
.banner-image-lead-form {
    width: 100%;
    object-fit: cover;
    height: 35vh;
}

.lead-form-input-container {
    padding: 100px;
}

.lead-form-input-container h1 {
    margin-bottom: 100px;
}

.lead-form-fields-wrapper {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 800px;
}

#file-picker-input {
    display: none;
}

/*
================================
Carousel
================================
**/

.swiper-slide {
    width: 20vw;
    height: 16vw;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    margin: unset;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '\203A';
    height: 20px;
    width: 20px;
    position: absolute;
    top: -6px;
    left: 13px;
    color: var(--clr-primary);
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '\2039';
    left: 10px;
    top: -8px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
    height: 40px;
    width: 40px;
    background-color: var(--clr-primary-7);
    border-radius: 50%;
}


/*
================================
Leads
================================
**/

.leads-table-container {
    padding: 2rem;
}

.leads-heading {
    text-align: center;
    color: var(--clr-primary-11);
    margin-bottom: 2rem;
}