@media screen and (min-width: 800px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1rem; }
    p { font-size: 1.3rem; }
    body { font-size: 1rem; }
}

@media (max-width: 900px) {
    .footer-top-section {
        gap: 100px;
    }

    .dashboard-center-text-right {
        text-align: left;
    }

    .landing-page-url-mobile {
        margin-bottom: 5rem;
    }

    .home-auth-right-section .background-logo-dashboard {
        display: none;
    }

    .home-auth-right-section .core-leader-item {
        display: none;
    }

    .home-auth-right-section {
        display: none;
    }

    .home-auth-left-section {
        padding: 20px;
        padding-top: 60px;
        width: 100%;
    }

    .swiper-slide {
        height: 27vw;
    }

    .section {
        padding: 40px;
    }

    .core-leaders-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        margin-top: 30px;
    }
}

@media (max-width: 680px) {
    .swiper-slide {
        height: 50vw;
    }
}

/*
Action form media queries
*/
@media (max-width: 1000px) {
    .action-form-right-section {
        display: none;
    }

    .action-form-container {
        height: 100%;
    }
    .mission-vision-section {
        flex-direction: column-reverse;
    }

    .mission-vision-right-section {
        width: 100%;
        height: 600px;
        padding: 0;
    }

    .mission-vision-left-section {
        padding: 40px;
        width: 100%;
    }

    .mission-content-container,
    .section .prospecting-videos-container {
        margin-top: 40px;
    }

    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-top-section {
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-short-bio {
        text-align: center;
    }

    .footer-pages-link-item {
        text-align: center;
    }

    .footer-bottom-section {
        justify-content: center;
    }

    .edit-profile-input-group {
        grid-template-columns: 1fr;
    }

    .lead-form-input-container {
        padding: 40px;
    }
}

@media (max-width: 900px) {
    .decorated-title-2 {
        align-self: center;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .action-form-subheading {
        font-size: 1.02rem;
        text-align: center;
    }

    .action-form-left-section {
        width: 100%;
        margin: 3rem;
    }

    .action-form-left-section-content {
        display: flex;
        flex-direction: column;
    }

    .action-form-form {
        margin-top: 4rem;
    }

    /*.action-form-container {*/
    /*    height: 100vh;*/
    /*}*/
}


@media (max-width: 650px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .decorated-title-1 {
        text-align: center;
    }
    .decorated-title-1::after {
        display: none;
    }
    .section-watermark-logo {
        display: none;
    }
    .lead-form-fields-wrapper {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 700px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .edit-profile-fields-container {
        width: 100%;
        padding: 2rem 5rem;
    }
}

@media (max-width: 400px) {
    .edit-profile-fields-container {
        padding: 2rem;
    }
}

@media (max-width: 1200px) {
    .footer-top-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-item:nth-child(1) {
        grid-column: 1/-1;
    }

    .footer-item {
        align-items: center;
    }
}
