@media screen and (min-width: 800px) {
    h1 { font-size: 4rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1rem; }
    p { font-size: 1.3rem; }
    body { font-size: 1rem; }
}

@media (max-width: 900px) {
    .home-auth-container-flex {
        flex-direction: column;
    }

    .footer-top-section {
        gap: 100px;
    }
}

/*
Action form media queries
*/
@media (max-width: 1000px) {
    .action-form-right-section {
        display: none;
    }

    .action-form-container {
        height: 100%;
    }
    .mission-vision-section {
        flex-direction: column-reverse;
    }

    .mission-vision-right-section {
        width: 100%;
        height: 600px;
        padding: 40px;
    }

    .mission-vision-left-section {
        padding: 40px;
        width: 100%;
    }

    .mission-content-container {
        margin-top: 40px;
    }

    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-top-section {
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-short-bio {
        text-align: center;
    }

    .footer-pages-link-item {
        text-align: center;
    }

    .footer-bottom-section {
        justify-content: center;
    }

    .edit-profile-input-group {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .decorated-title-2 {
        align-self: center;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .action-form-subheading {
        font-size: 1.02rem;
        text-align: center;
    }

    .action-form-left-section {
        width: 100%;
        margin: 3rem;
    }

    .action-form-left-section-content {
        display: flex;
        flex-direction: column;
    }

    .action-form-form {
        margin-top: 10rem;
    }

    .action-form-container {
        height: 100vh;
    }
}


@media (max-width: 650px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .decorated-title-1 {
        text-align: center;
    }
    .decorated-title-1::after {
        display: none;
    }
    .section-watermark-logo {
        display: none;
    }
}


@media (max-width: 700px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .edit-profile-fields-container {
        width: 100%;
        padding: 2rem 5rem;
    }
}

@media (max-width: 400px) {
    .edit-profile-fields-container {
        padding: 2rem;
    }
}
